body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff ;

  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #000 ;
    /* line-height: 1.2; */
    text-align: center;
    &:hover {
      color: #fff;
    }
  }
  
  .row {
    display: flex;
  }
  
  .character {
    margin: 0 2px;
  }
  